{% extends 'website/base.html' %}
{% load static %}

 {% block title %}
   <link rel="stylesheet" href="{% static 'css/seeds.css' %}">
 {% endblock  %}
{% block content %}

<!--
      ==================================================
      Header Section End
      ================================================== -->
  <!--
      ==================================================
      Cards Section Start
      ================================================== -->
<div class="row">
  {% for i in content%}
  <div class="column">
    <div class="card">
      {% if i.image %}
        <img src="{{i.image.url}}">
      {% else %}
        <img src="{% static 'images/download.png' %}"/>
      {% endif%}
      <p>{{i.description}}</p>
      <button><a href="{% url 'create_order'%}">ORDER</a></button>
    </div>
  </div>
  {% endfor %}
</div>

   <!--
       ==================================================
       Cards Section End
       ================================================== -->
   {% endblock  %}
